* {
  font-family: Azeret Mono;
}
.header1 h1 {
  color: rgb(13, 19, 33);

  font-size: 28px;
  font-weight: 800;

  text-align: left;
}
.header1 button {
  padding: 10px 20px;
}
.header1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 38px 150px;
}
.main .head {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 25px;
  font-weight: 800;

  width: 900px;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 20px 100px;
}
.main .pera {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  width: 800px;
}
.btn {
  border-radius: 8px;
  padding: 21px 24px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.frame5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24;
  margin-top: 10px;
}
.frame5 h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 40px;
  font-weight: 1000px;
  text-align: center;
  margin-top: 80px;
}
.frame5 p {
  color: rgb(13, 19, 33);

  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  width: 800px;
  text-align: center;
}
.frame8 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 96px;
  margin-bottom: 100px;
  padding: 48px;
}
.frame8 .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 468px;
}
.frame8 .head h2 {
  width: 290px;
  margin-bottom: 16px;
}
.btn-all {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  padding: 12px 20px;
  font-family: Azeret Mono;
  font-size: 20px;
}
.main-part1 {
  border-radius: 16px;
  margin: 150px;
  background: rgba(13, 19, 33, 0.02);

  align-items: center;
  gap: 32;
}
.frame9 {
  display: flex;
  justify-content: space-evenly;

  gap: 100px;
}
.frame9 .child9 h2 {
  width: 320px;
  margin-bottom: 16px;
}
.frame9 .child9 p {
  width: 380px;
}

.overall {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.frame10 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 96px;
  margin-bottom: 0px;
  padding: 48px;
}
.child10 h2 {
  width: 300px;
}
.frame10 p {
  width: 460px;
}
.frame11 {
  text-align: center;
}

.frame11 h2 {
  font-size: 32px;
  font-weight: 800px;
}
.frame11 p {
  font-size: 10px;
  font-weight: 200px;
}
.main-part2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px 45px;
  margin-bottom: 40px;
}
.main-part3 .title h2 {
  font-weight: 800px;
  font-size: 32px;
  color: rgb(13, 19, 33);
}
.main-part3 .title p {
  font-weight: 400px;
  font-size: 14px;
  color: rgb(13, 19, 33);
  width: 700px;
}
.main-part3 .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 48;
  padding: 0px;
  margin-top: 150px;
  margin-bottom: 48px;
}
.main-part3 .card {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 180px 0 180px;
  justify-content: center;
}
.main-part3 .card .child-card1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24;
  padding: 25px;
  width: 400px;
  border-radius: 16px;

  background: rgba(255, 76, 30, 0.05);
}
.main-part3 .card .child-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24;
  padding: 25px;
  width: 400px;
  border-radius: 16px;

  background: rgba(0, 76, 232, 0.05);
}
.main-part3 .card .child-card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24;
  padding: 25px;
  width: 400px;
  border-radius: 16px;

  background: rgba(255, 223, 0, 0.05);
}
.main-part4 {
  text-align: center;
  background-image: url(../assets/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center;
  padding: 20px 200px;

  color: rgb(255, 255, 255);
  margin: 50px 60px 50px 60px;
  border-radius: 20px;
}
.main-part4 .form input {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  padding: 20px;
  background: rgb(255, 255, 255);
  font-size: 20px;
}

.main-part4 .form button {
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  padding: 15px 20px;
  background: rgb(255, 255, 255);
  font-size: 22px;
}
.main-part4 section {
  padding: 50px;
}
.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px;
}
